:root {
  --charcoal: #212529;
  --main-font: "Poppins";
  --heading-font: "Abril Fatface", sans-serif;
}
h1,
h2 {
  font-family: var(--heading-font);
  color: var(--charcoal);
}

p,
h3,
h4,
li,
footer {
  font-family: var(--main-font);
  color: var(--charcoal);
}
.small-divider {
  width: 50%;
  margin: 0 auto;
}
#cv,
#about-me,
#contact {
  scroll-margin-top: 50px;
}
#recent-projects {
  scroll-margin-top: 70px;
}
