:root {
  --charcoal: #212529;
  --main-font: "Poppins", sans-serif;
  --heading-font: "Abril Fatface", sans-serif;
}
h1 {
  font-family: var(--heading-font);
}
footer {
  font-family: var(--main-font);
}
